body {
  font-family: "Rubik", sans-serif;
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

header {
  background-color: rgb(38, 103, 146);
  color: #fff;
  padding: 20px;
}

.custom-btn {
  font-size: 15px;
  padding: 30px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
}

a {
  text-decoration: none;
}

.custom-btn:hover {
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.custom-btn:visited {
  color: #fff;
}



a:hover {
  color:rgb(145, 181, 248);
}

a:visited {
  color:cornflowerblue;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  padding: 15px;
}

nav li a {
  color: #333;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px;
  
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

/*
.section {
  width: 40vw;
}
*/

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
